* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background: #0f172a;
}
nav {
    background: #0f172a;
    display: flex;
    justify-content: space-between;
}
nav .left {
    margin-left: 11%;
    padding-top: 23px;
}
nav .right {
    display: flex;
    margin-right: 15%;
    margin-top: 23px;
}
nav .right ul {
    display: flex;
    justify-content: space-between;
    margin: 12px;
    list-style: none;
}
nav .right ul li {
    margin: 2.5px 7px;
    font-size: 17px;
    font-weight: 300;
}
nav a {
    color: white;
    text-decoration: none;
    opacity: 0.8;
}
nav a:hover {
    opacity: 1;
}
.body {
    margin-top: 73px;
    margin-left: 12%;
    display: flex;
    justify-content: space-between;
}
.body .text {
    flex-basis: 81%;
}
.body .text h2 {
    font-size: 29px;
    color: white;
}
.body .text h2 img {
    width: 29px;
    height: 29px;
    transform: translate(11px, 6px);
}
.body .text h2 b {
    font-size: 29px;
    color: #1ac1ec;
}
.text a {
    text-decoration: none;
    color: #1ac1ec;
}
.text a:hover {
    text-decoration: underline;
}
.body .text p {
    margin-top: 21px;
    font-size: 19px;
    line-height: 6.6vh;
    color: white;
    opacity: 0.8;
    width: 88%;
    margin-bottom: 6px;
}
.text img {
    height: 40px;
    width: 43px;
    margin: 6px;
}
.text  img {
    border-radius: 13px;
}
.text img:hover {
    transform: translateY(3px);
}
.body .img {
    flex-basis: 19%;
    margin-right: 200px;
    transform: translateY(-29px);
    margin-top: 4px;
    border-radius: 9px;
}
.projects {
    margin-left: 12%;
    margin-right: 12%;
    color: white;
    margin-top: 2px;
    display: block;
}
.projects b {
    color: #1ac1ec;
}
.project {
    background-color: #1e293b;
    border-radius: 5px;
    display: flex;
    margin-top: 16px;
    padding: 10px;
    align-items: center;
    margin-bottom: 25px;
}
.project .img {
    margin-top: 8pxpx;
    flex-basis: 15%;
}
.project .img img {
    margin-top: 15px;
}
.project .img img:hover{
    transform: translateY(6px);
}

.project .font {
    margin-left: 19px;
    flex-grow: 1;
    margin-bottom: 17px;
}
.project .font h3{
    margin: 6px;
    transition: 0.5s;
}
.project .font h3:hover{
    color: #1ac1ec;
}
.project .font b{
    border: 1px; 
    margin: 2px;
    font-size: 12px;
    padding: 5px 6px;
    border-radius: 7px;
    color: rgba(0, 0, 0, 0.6);

}
.project .font p{
    opacity: 0.5;
    line-height: 4.7vh;
    margin-top: 15px;
    width: 96%;
}

.skills{
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 12px;
    color: white;
    font-size: 21px;
    text-align: center;

}
.skills h3{
    font-size: 26px;
    margin-right: 16%;
    margin-bottom: 12px;

}
.skills p{
    font-size: 19px;
    opacity: 0.6;
    margin-right: 15%;
    font-weight: 100;
    margin-bottom: 12px;
}
.skill{
    margin-left: 12%;
    margin-right: 15%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: #1e293b;
    border-radius: 12px;
}
.skill img { 
    height: 87px;
    width: 73px;
    border-radius: 12px;
    margin-left:21px;
    margin-top: 13px;
    flex-basis:16%;
    margin-bottom: 23px;
    transition: 0.5s;
}
.skill img:hover{
    transform: translateY(-9px);
    width: 78px;
    height: 91px;
}
.subscribe{
    margin-top: 41px;
    margin-left: 12%;
    margin-right: 12%;
    color: white;
    display: flex;
}
.detail{
    margin: 2px;
    flex-basis: 60%;
}
.subscribe h2 {
    font-size: 30px;
}
.subscribe h2 b {
    font-size: 30px;
    color: #1ac1ec;
}
.subscribe p {
    margin-top: 12px;
    line-height: 3.9vh;
    opacity: 0.6;
    margin-bottom: 23px;
}
.subscribe .input {
    margin-top: 31px;
    margin-left: 20px;
    flex-basis: 40%;
}
form {
    width: 100%;
    height: 49px;
    border: none;
    border-radius: 30px;
    background-color: #1e293b;
    transform: translate(19px, 14px);
    position: relative; /* Added */
}
form:hover{
    border: 2px solid #1ac1ec;
}
.subscribe .input input {
    width: 75%;
    height: 50%;
    padding: 10px 9px;
    outline: none;
    margin: 3px 3px;
    font-size: 19px;
    font-weight: 100 ;
    border: none;
    background-color: #1e293b;
    color: white; /* Added */
    border-radius: 30px 0 0 30px; /* Makes input match rounded form */
}
.subscribe .input button {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    height: 35px;
    width: 79px;
    outline: none;
    margin-right: 7px;
    margin-bottom: 2px;
    padding: 3px 3px;
    color: white;
    background-color: #1ac1ec;
    border-radius: 30px; /* Makes button rounded */
    cursor: pointer; /* Better UX */
    transition: 0.5s;
}
.subscribe .input button:hover{
    background-color:  #0891b2;
}
hr{
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 21px;
    margin-bottom: 14px;
    opacity: 0.5;
}

footer{
    margin-left: 12%;
    margin-top: 27px;
    color: white;
    font-size: 12px;
    margin-bottom: 32px;
}
footer a{
    text-decoration: none;
    color: #1ac1ec;
}
footer a:hover{
    text-decoration:underline;
}    
@media screen and (max-width: 600px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-size: 11px;
    }

    /* Navigation */
    nav {
        flex-direction: row;
        align-items: center;
        text-align: center;
        padding: 1px;
        margin: 11px;
    }
    nav .left {
        margin: 4px 0;
    }
    nav .right {
        flex-direction: column;
        align-items: center;
        margin: 14px;
    }
    nav .right ul {
        flex-direction: row;
        margin-right: 3px;
        padding: 0;
    }
    nav .right ul li {
        margin: 8px ;
    }

    .body {
        flex-direction:row;
        margin-top: 40px;
        margin-left: 0;
    }
    .body .text  h2 b{
        font-size: 12px;
        margin: 0;
    }
    .body .text  h2 ,img{
        width: 100%;
        margin: 8px;
        font-size: 12px;
    }
    body .text #logo{
        height: 13px;
        width: 13px;
        margin: 3px;
    }
    .body .text p{
        width: 80%;
        font-size: 7px;
        margin-top: 13px;
        margin-left: 6px;
        line-height: 17px;
    }
    .body .img {
        position: relative;
        align-items: center;
        margin:49px 9px;
        height: 100%;
        width: 100%;
    }

    /* Projects */
    .projects {
        margin-left: 5%;
        margin-right: 5%;
        flex-wrap: wrap;
    }
    .project {
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 95%;
        padding: 2px;
        position: relative;
    }
    .project .img {
        flex-basis: auto;
        height: 10%;
        width: 10%;
        margin-bottom: 10px;
    }
    .project .font h3 b {
        margin-left: 0;
        margin: 2px;
        flex-grow: 1;
        margin-bottom: 0;
        font-size: 6px;
    }
    .project .font p{
        line-height: 1.7vh;
        font-size: 9px;
    }

    /* Skills */
    .skills {
        margin: 20px auto;
        text-align: center;
    }
    .skill {
        flex-wrap: wrap;
        justify-content: center;
        padding: 4px;
    }
    .skill img {
        width: 40px;
        height: 40px;
    }
    .skills h3, .skills p {
        font-size: 14px;
    }

    /* Subscribe Section */
    .subscribe {
        margin: 0 0 12px;
        flex-direction: row;
    }
    .subscribe .detail{
        font-size: 11px;
        margin: 2px;
    }
    .subscribe .detail h2 {
        font-size: 14px;
    }
    .subscribe .detail h2 b {
        font-size: 14px;
    }
    .subscribe .detail p{
        font-size: 9px;
        margin-top: 12px;
        line-height: 2vh;
    }
    .subscribe form{
        width: 100%;
        height: 20%;
        border-radius: 30px;
        background-color: #1e293b;
        transform: translate(0, 0);
    }
    .subscribe .input  {
        width: 100%;
        height: 20%;
        font-size: 2px;
        margin-top: 10px;
    }
    .subscribe .input input {
        width: 70%;
        height: 20%;
        padding: 2px 2px;
        font-size: 8px;
        margin: 3px 3px;
        border-radius: 30px 0 0 30px;
    }
    .subscribe .input button {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        border: none;
        height: 30%;
        width: 20%;
        outline: none;
        margin-right: 5px;
        margin-bottom: 2px;
        padding: 1px 1px;
        font-size: 4px;
    }
    hr{
        margin: 8px 8px 8px;
        width: 100%;
    }
    footer {
        margin: 0 0 12px;
        font-size: 5px;
        text-align: center;
    }
    footer p{
        font-size: 6px;
        margin: 0;
    }
    footer a {
        font-size: 6px;
    }   

}